.admin-dashboard {
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  
  h1 {
    font-size: 2rem; /* Font size for the main heading */
    margin-bottom: 20px; /* Margin below the heading */
  }
  .admin-content{
   width: 80%;
   margin-left: 5%;
  }
  
  .admin-dashboard> .button-container {
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #dafffb;
    height: 100vh;
    width: 250px;
    padding: 30px;
  }
  
  .button {
    padding: 10px 20px; /* Padding for buttons */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    color: white; /* White text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
    margin-right: 10px;
    background-color:darkslategray !important;
  }
  
  .button-blue {
    background-color: #007bff; /* Blue background */
  }
  
  .button-blue:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .button-green {
    background-color: #28a745; /* Green background */
  }
  
  .button-green:hover {
    background-color: #218838; /* Darker green on hover */
  }
  
  .button-purple {
    background-color: #6f42c1; /* Purple background */
  }
  
  .button-purple:hover {
    background-color: #5a32a3; /* Darker purple on hover */
  }
  
  .button-red {
    background-color: #dc3545; /* Red background */
  }
  
  .button-red:hover {
    background-color: #c82333; /* Darker red on hover */
  }
  
  .overview-cards {
    display: flex; /* Flexbox for cards */
    gap: 20px; /* Space between cards */
    margin-bottom: 20px; /* Margin below the cards */
    background-color: darkslategray;
    width: 80%;
    padding: 30px;
    margin: 20px;
    justify-content: space-around;
  }
  
  h2 {
    font-size: 1.5rem; /* Font size for subheadings */
    margin-top: 20px; /* Margin above subheadings */
    margin-bottom: 10px; /* Margin below subheadings */
  }

  .overview-card{
    width: 150px;
    height: 120px;
    display: flex
;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }